.git/
.pytest_cache/
.venv/
.vscode/
blah/
build/
dist/
docs/_build/
docs/html/
docs/xml/
f1tenth_gym_jax_rollout.gif
htmlcov/
maps/RandomTrack*/
wandb/
**/wandb/
**/__pycache__/
*.py[cod]
*.egg-info/
*.log
*.mypy_cache/
*.zip
.DS_Store
